@model StatTrackr.Framework.Domain.User

<div class="row clearfix">
        <div class="widget clearfix">
            <div class="widget_inside">
        <h2>Edit</h2>
 
        @using (Html.BeginForm()) 
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>User</legend>@Html.HiddenFor(model => model.UserID)
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserName) @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LastName) @Html.ValidationMessageFor(model => model.LastName)
                </div>
                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
</div>
