@model StatTrackr.Web.Models.LogOnModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="col_6 pre_3 padding_top_60">
    <div class="widget clearfix">
        <h2>Login</h2>
        <div class="widget_inside">
        @using (Html.BeginForm())
        {
            <div class="form">
                @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
                <div class="clearfix">
                    <label>Username</label>
                    <div class="input">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="clearfix">
                    <label>Password</label>
                    <div class="input">
                        @Html.PasswordFor(m => m.Password)
                        <br />
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="clearfix">
                    <div class="input no-label">
                         @Html.CheckBoxFor(m => m.RememberMe) 
                         Remember Me?
                    </div>
                </div>
                <div class="clearfix grey-highlight">
                    <div class="input no-label ">
                        <input type="submit" class="button blue" value="Login" />
                        <a href="/account/register" class="button"><span>Register</span></a>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>
