<!DOCTYPE html>
<html lang="en-us">
    <head>
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />

        <link rel="apple-touch-con" href="" />

        <title>@ViewBag.Title</title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

	    <!-- The Columnal Grid and mobile stylesheet -->
	    <link rel="stylesheet" href="@Url.Content("~/content/styles/columnal/columnal.css")" type="text/css" media="screen" />

	    <!-- Fixes for IE -->
	    <!--[if lt IE 9]>
                <link rel="stylesheet" href="@Url.Content("~/content/styles/columnal/ie.css")" type="text/css" media="screen" />
                <link rel="stylesheet" href="@Url.Content("~/content/styles/columnal/ie8.css")" type="text/css" media="screen" />
                <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	    <![endif]-->        
        
	
	    <!-- Now that all the grids are loaded, we can move on to the actual styles. --> 
        <link rel="stylesheet" href="@Url.Content("~/content/scripts/jqueryui/jqueryui.css")" type="text/css" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/content/styles/style.css")" type="text/css" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/content/styles/global.css")" type="text/css" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/content/styles/config.css")" type="text/css" media="screen" />
        
        <!-- Adds HTML5 Placeholder attributes to those lesser browsers (i.e. IE) -->
        <script type="text/javascript" src="@Url.Content("~/content/scripts/jquery.placeholder.1.2.min.shrink.js")"></script>

        <!-- Use CDN on production server -->
        <script type="text/javascript" src="@Url.Content("~/Content/scripts/jquery-1.6.4.min.js")"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        
        <!-- Menu -->
        <link rel="stylesheet" href="@Url.Content("~/content/scripts/superfish/superfish.css")" type="text/css" media="screen" />
        <script src="@Url.Content("~/content/scripts/superfish/superfish.js")" type="text/javascript"></script>
		
        <!-- Js used in the theme -->
        <script src="@Url.Content("~/content/scripts/muse.js")" type="text/javascript"></script>

    </head>
    <body>
        <div id="wrap">
	        <div id="main">
                <header class="container">
                    <div class="row clearfix">
                        <div class="left">
                            <a href="index.html" id="logo">Muse</a>
                        </div>
                        <div class="right">
                            <ul id="toolbar">
                                @if (StatTrackr.Framework.Security.CodeFirstSecurity.IsAuthenticated)
                                {
                                    <li><span>Logged in as</span>
                                        <a class="user" href="/admin">@StatTrackr.Framework.Security.CodeFirstSecurity.CurrentUserName</a>
                                        <a id="loginarrow" href="javascript:void(0);"></a>
                                    </li>
                                    <li><a id="messages" href="#">Messages</a></li>
                                    <li><a id="settings" href="#">Settings</a></li>
                                    <li><a id="search" href="#">Search</a></li>
                                }
                                else
                                {
                                    // html for logging in
                                    <li>
                                        <a id="login" href="/account/logon">Login</a>
                                    </li>
                                }
                            </ul>
                            <div id="logindrop">
                                <ul>
                                    <li id="editprofile"><a href="/account/edit">Edit Profile</a></li>
                                    <li id="logoutprofile"><a href="/account/logoff">Logout</a></li>
                                </ul>
                            </div>
                            <div id="searchdrop">
                                <input type="text" id="searchbox" placeholder="Search...">
                            </div>
                        </div>  
                    </div>
                </header>
                <nav class="container">
                    <select class="mobile-only row clearfix" onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                            <option value="index.html">Stat Tracker</option>
                    </select>

                    <ul class="sf-menu mobile-hide row clearfix">
                        <li @MvcHtmlHelpers.HTMLHelpers.SelectedNavItem(this.Html, ViewBag.selectedPage, "home")><a href="/"><span>Home</span></a></li>
                        <li @MvcHtmlHelpers.HTMLHelpers.SelectedNavItem(this.Html, ViewBag.selectedPage, "about")><a href="/home/about"><span>About Us</span></a></li>
                        <li @MvcHtmlHelpers.HTMLHelpers.SelectedNavItem(this.Html, ViewBag.selectedPage, "features")><a href="/home/features"><span>Features</span></a></li>
                        <li @MvcHtmlHelpers.HTMLHelpers.SelectedNavItem(this.Html, ViewBag.selectedPage, "apps")><a href="/home/apps"><span>Apps</span></a></li>
                        <li @MvcHtmlHelpers.HTMLHelpers.SelectedNavItem(this.Html, ViewBag.selectedPage, "contact")><a href="/home/contact"><span>Contact Us</span></a></li>
                    </ul>
                </nav>
                <div id="titlediv">
                    <div class="clearfix container" id="pattern">
                        <div class="row">
                            <div class="col_12">
                                <h1>Stat Tracker</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="actualbody">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
		        <div class="row clearfix">
			        <div class="col_12">
				        <span class="left">&copy; 2011 44 Lights.</span>
				        <span class="right">Powered by Drosticon</span>
			        </div>
		        </div>
            </div>
        </footer>
    </body>
</html>
