<!doctype html>  
<html lang="en-us">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
	<meta charset="utf-8">
	<title>Muse Admin Panel | Login</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<!-- The Columnal Grid and mobile stylesheet -->
	<link rel="stylesheet" href="@Url.Content("~/content/styles/columnal/columnal.css")" type="text/css" media="screen" />

	<!-- Fixes for IE -->
	<!--[if lt IE 9]>
            <link rel="stylesheet" href="assets/styles/columnal/ie.css" type="text/css" media="screen" />
            <link rel="stylesheet" href="assets/styles/ie8.css" type="text/css" media="screen" />
            <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->

	<!-- Now that all the grids are loaded, we can move on to the actual styles. --> 
    <link rel="stylesheet" href="@Url.Content("~/content/scripts/jqueryui/jqueryui.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/content/styles/style.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/content/styles/global.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/content/styles/config.css")" type="text/css" media="screen" />
              
</head>
<body id="login">
    <div class="container">
        <div class="row">
            <a href="login.php" class="center block"><img src="assets/images/biglogo.png" /></a>
            @RenderBody()
        </div>
    </div>
</body>
</html>