@model StatTrackr.Web.Models.TeamModel
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="widget clearfix">
        <h2>
            Create Team</h2>
        <div class="widget_inside">
            <div class="col_12">
                <div class="col_4">
                    <h3>New Team</h3>
                    <p>
                        Create your team. No images with be hosted with us. Please provide a full url for
                        you team image. ie http://www.domain.com/images/myimage.jpg"
                    </p>
                </div>
                <div class="col_8 last">
                    <div class="form">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.TeamID)
                            <div class="clearfix">
                                @Html.LabelFor(model => model.TeamName)
                                <div class="input">
                                    @Html.TextBoxFor(model => model.TeamName)
                                    @Html.ValidationMessageFor(model => model.TeamName, null, new { @class = "help" })
                                </div>
                            </div>
                            <div class="clearfix">
                                @Html.LabelFor(model => model.PhotoUrl)
                                <div class="input">
                                    @Html.TextBoxFor(model => model.PhotoUrl, new { @class = "xxlarge" })
                                    @Html.ValidationMessageFor(model => model.TeamName, null, new { @class = "help" })
                                </div>
                            </div>
                                <div class="clearfix">
                                <label>League</label>
                                <div class="input">
                                    @Html.DropDownListFor(model => model.LeagueId, new SelectList(StatTrackr.Web.Models.StatHelper.GetAllLeagues(), "LeagueID", "Name"), "----- Select League-----")
                                </div>
                            </div>
                            <div class="clearfix grey-highlight">
                                <div class="input no-label">
                                    <input class="button blue" type="submit" value="Submit">
                                    <input class="button grey" type="reset" value="Reset">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
